@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");

$dark: #ae7c78;
$medium: #d89999;
$light: #ffdcdc;
$white: #ffffff;
$border: #f7fafc;
$transparent: rgba(174, 124, 120, 0.6);

$tr: all 0.3s ease-in-out;

$font: "Montserrat", sans-serif;
$fontPlay: "PlayfairDisplay", serif;

$mobile: 767px;
$tablet: 1023px;
